*{
    top: 0;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
    background-image: url("https://img.freepik.com/premium-photo/concept-cooking-preparing-food-with-recipe-book_185193-124739.jpg?ga=GA1.1.943950442.1728618274&semt=ais_hybrid");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
}
.form{
    padding: 10px;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 25px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: black;
    color: whitesmoke;
    opacity: 0.9;
}
#H1{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #f17816;
}
.form input{
    font-size: 25px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 500px;
}
.form input:hover{
    cursor: pointer;
}
.form button{
    padding: 10px;
    width: 120px;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.form button:hover{
    cursor: pointer;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    background-color: #F17816;
    font-weight: bold;
}

/* Media Query Section */
@media screen and (max-width:1300px){
    body{
        background-image: none;
        background-color: #F17816;
    }
    .form{
        font-size: 20px;
    }
    .form input{
        font-size: 20px;
        width: 400px;
    }
}

@media screen and (max-width:1150px){
    .form input{
        width: 300px;
    }
    .form{
        margin-top: 15%;
    }
}

@media screen and (max-width:800px){
    .form input{
        width: 200px;
    }
    .form{
        margin-top: 25%;
    }
}

@media screen and (max-width:580px){
    .form input{
        width: 200px;
    }
    #H1{
        color: #000;
    }
    .form{
        padding: 10px;
        border: 1px solid black;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 25%;
        border-radius: none;
        background-color:#F17816;
        color: black;
        opacity: 10;
        text-align: center;
    }
}
